@model WebAppTDIPortalE_Motor.Models.PKPModel

@{
    ViewBag.menu = "PKP";
    ViewBag.Title = "View Penanganan Keluhan Pelanggan";
    ViewBag.submenu = "PKP_View";
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form class="form-horizontal" method="POST" id="FormNew" role="form" enctype="multipart/form-data">
                    @Html.HiddenFor(m => m.pkp, new { @Value = Model.pkp })
                    @Html.HiddenFor(m => m.description, new { @Value = Model.description })
                    @Html.HiddenFor(m => m.um, new { @Value = Model.um })
                    @Html.HiddenFor(m => m.ship_to, new { @Value = Model.ship_to })
                    @Html.HiddenFor(m => m.cust_name, new { @Value = Model.cust_name })
                    <div class="row">
                        <div class="col-3">
                            <label for="item" class="col-form-label">Nama Mall/Toko/Pelanggan:</label>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cust_num" name="cust_num" disabled="disabled" style="padding: 0.2rem 1rem;" value="@Model.cust_num">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cust_name" maxlength="255" name="cust_name" disabled="disabled" style="padding: 0.2rem 1rem;" value="@Model.cust_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="item" class="col-form-label">Tanggal:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control datepickers" value="@Model.pkp_date.ToString("dd/MM/yyyy")" id="pkp_date" name="pkp_date" style="padding: 0.2rem 1rem;" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="item" class="col-form-label">Cabang/Alamat:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.cust_seq, new { @Value = Model.cust_seq, @placeholder = "Ship To", @class = "form-control form-control-user", @style = "padding: 0.2rem 1rem;" })
                                <input type="text" class="form-control" id="ship_tos" name="ship_tos" value="@Model.ship_to" disabled="disabled" style="padding: 0.2rem 1rem;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="item" class="col-form-label">PIC:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="pic" name="pic" style="padding: 0.2rem 1rem;" value="@Model.pic">
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="item" class="col-form-label">Jabatan:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="jabatan" name="jabatan" style="padding: 0.2rem 1rem;" value="@Model.jabatan">
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title">I. Uraian Pelanggan</h5>
                    <div class="row">
                        <div class="col-2">
                            <label for="model" class="col-form-label">Model:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="model" name="model" style="padding: 0.2rem 1rem;" value="@Model.model" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="item" class="col-form-label">Item:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="item" name="item" style="padding: 0.2rem 1rem;" value="@Model.item" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="description" class="col-form-label">Description:</label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="descriptions" name="descriptions" style="padding: 0.2rem 1rem;" value="@Model.description " disabled="disabled">
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="item" class="col-form-label">Qty:</label>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="qty" name="qty" style="padding: 0.2rem 1rem;" value="@Model.qty" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="item" class="col-form-label">UM:</label>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="ums" name="ums" value="@Model.um" style="padding: 0.2rem 1rem;" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="item" class="col-form-label">No. Rangka:</label>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="no_rangka" name="no_rangka" value="@Model.no_rangka" style="padding: 0.2rem 1rem;" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="item" class="col-form-label">Status:</label>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                @if (Model.stat == "0")
                                {
                                <input type="text" class="form-control" id="stat" name="stat" style="padding: 0.2rem 1rem;" disabled="disabled" value="Requested">
                                }
                                else
                                {
                                <input type="text" class="form-control" id="stat" name="stat" style="padding: 0.2rem 1rem;" disabled="disabled" value="Reviewed">
                                }
                            </div>
                        </div>
                        @*<div class="col-2">
            <label for="item" class="col-form-label">No. JOL:</label>
        </div>
        <div class="col-4">
            <div class="form-group">
                <input type="text" class="form-control" id="jol" name="jol" style="padding: 0.2rem 1rem;">
            </div>
        </div>*@
                    </div>
                    <h5 class="card-title">II. Analisa Penyebab (MKT/SALES/PKP)</h5>
                    <div class="row">
                        <div class="col-2">
                            <label for="pictureFile" class="col-form-label">Picture</label>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <img src="@Model.strattach" alt="Image" style="width:auto; height:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="tdi">III. Rincian Keluhan</label>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <textarea class="form-control" id="analisa_penyebab" name="analisa_penyebab" rows="2">@Model.analisa_penyebab</textarea>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
            <div class="col-2">
                <label for="tdi">IV. Tindakan Perbaikan</label>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <textarea class="form-control" id="tindakan_perbaikan" name="tindakan_perbaikan" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="tdi">Catatan</label>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <textarea class="form-control" id="catatan" name="catatan" rows="2"></textarea>
                </div>
            </div>
        </div>*@
                   
                </form>
            </div>
        </div>
    </div>
</div>
